$header-height: 50px;
$top-padding: 150px;

body{
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100vh;
}

.page-container, .landing-container{
    height: calc(100vh - $header-height + $top-padding);
}

.landing-container{
    
    .page-title{
        padding-left: 10px;
    }

    .page-container{
        display: flex;
        justify-content: space-around;

        padding-top: $top-padding;

        .search-container, .results-container{
            width: 50%;
        }

        .search-container{
            display: flex;
            justify-content: center;

            .search-box-container{
                width: 75%;
                h3{
                    font-size: 36px;
                }
    
                #suggestion-search{
                    width: 75%;
                    font-size: 28px;
                    border: 1px solid gray;
                    border-radius: 25px;
                    padding: 12px;
                    background: whitesmoke;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 600;
                }
    
            }
        }

        .results-container{
           
        }
       
    }
}   