.navbar{
    color: white;

    .navbar-brand {
        font-weight: 600;
    }

    .dropdown{
        .nav-link{
            color: black;
            font-weight: 600;
            font-size: 14px;
            margin-top: 3px;
        }
    }

    .navbar-text{
        color: black;
        font-weight: 600;
        font-size: 14px;
    }
}