.navbar{
    color: white;

    .navbar-brand {
        font-weight: 600;
    }

    .nav-link{
        color: black !important;
        font-weight: 600;
        font-size: 14px;
        margin-top: 3px;
    }

    .navbar-text{
        color: black;
        font-weight: 600;
        font-size: 14px;
    }

    .raw-api-button{
        margin-right: 10px;
        margin-top: 6px;

        @include lg {
            margin-top: 0;
        }
    }

    #button-reset{
        margin-top: 10px;

        @include lg {
            margin-top: 0;
        }
    }
}