.page-container,
.landing-container {
	height: calc(100vh - 200);
}

.landing-container {
	.page-title {
		padding-left: 10px;
	}

	.page-container {
		display: flex;
		justify-content: space-around;
		margin: 0;

		padding-top: $top-padding;

		.search-container,
		.results-container {
			@include xl {
				max-width: 49%;
			}
		}
	}
}
