.search-container {
    display: flex;
    flex-direction: column;

    .search-box-container {
        h3 {
            font-size: 26px;

            @include md {
                font-size: 36px;
            }


            font-weight: 600;
            padding-bottom: 20px;
        }

        #suggestion-search {
            width: 100%;
            font-size: 16px;
            border: 1px solid gray;
            border-radius: 25px;
            padding: 5px 5px 5px 10px;
            background: whitesmoke;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;

            @include md {
                padding: 12px;
                font-size: 28px;
            }
        }

        .response-time{
            display: flex;
            justify-content: flex-end;
            color: black;
            font-size: 12px;
            margin-top: 5px;
        }
    }
}